/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-zqk5jnpdqn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zqk5jnpdqn] {
    flex: 1;
}

.sidebar[b-zqk5jnpdqn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zqk5jnpdqn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zqk5jnpdqn]  a, .top-row[b-zqk5jnpdqn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zqk5jnpdqn]  a:hover, .top-row[b-zqk5jnpdqn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zqk5jnpdqn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-zqk5jnpdqn] {
        justify-content: space-between;
    }

    .top-row[b-zqk5jnpdqn]  a, .top-row[b-zqk5jnpdqn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zqk5jnpdqn] {
        flex-direction: row;
    }

    .sidebar[b-zqk5jnpdqn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zqk5jnpdqn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zqk5jnpdqn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zqk5jnpdqn], article[b-zqk5jnpdqn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
section[b-y7t9smrskk] {
    background: white;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.presentation[b-y7t9smrskk] {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("common-bg.svg");
    background-position: center;
    height: 100vh;
    position: relative;
}

.content[b-y7t9smrskk] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50rem;
    width: 92%;
}

.heading-primary[b-y7t9smrskk]{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.text-primary[b-y7t9smrskk]{
    color: #333 !important;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.info[b-y7t9smrskk] {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}


.social[b-y7t9smrskk] {
    width: 1rem
}

.social-icon-link[b-y7t9smrskk] {
    width: 100%;
    display: block;
    padding: 1rem;
    transition: background .3s;
    border-radius: 5px
}

.social-icon-link:hover[b-y7t9smrskk] {
    background: rgba(120,67,233,.2)
}

.social-icon-link--bd-none[b-y7t9smrskk] {
    border-bottom: 0
}

.social-icon[b-y7t9smrskk] {
    width: 40px;
}

.socials[b-y7t9smrskk] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding: .5rem
}

.social-icon-link:hover[b-y7t9smrskk] {
    background: rgba(120,67,233,.2)
}

.mouse-scroll-cont[b-y7t9smrskk] {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%)
}

@media only screen and (max-width: 37.5em) {
    .mouse-scroll-cont[b-y7t9smrskk] {
        display:none
    }
}

.mouse[b-y7t9smrskk] {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden
}

.mouse[b-y7t9smrskk]::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel-b-y7t9smrskk 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
}

@keyframes wheel-b-y7t9smrskk {
    to {
        opacity: 0;
        top: 27px
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}

.about[b-y7t9smrskk] {
    background-image: url("cover.jpg");
    background-size: cover;
}

.about__content[b-y7t9smrskk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem
}

@media only screen and (max-width: 56.25em) {
    .about__content[b-y7t9smrskk] {
        grid-template-columns:1fr;
        grid-gap: 8rem
    }
}

.about__content-title[b-y7t9smrskk] {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem
}

@media only screen and (max-width: 37.5em) {
    .about__content-title[b-y7t9smrskk] {
        font-size:2.4rem
    }
}

.about__content-details-para[b-y7t9smrskk] {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem
}

.about__content-details-para--hl[b-y7t9smrskk] {
    font-weight: 700;
    margin: 0 3px
}

.about__content-details-para:last-child[b-y7t9smrskk] {
    margin-bottom: 4rem
}

.about__content-details-para a[b-y7t9smrskk] {
    text-decoration: underline;
    font-weight: 700;
    color: #7843e9;
    margin: 0 3px
}

.sec-pad[b-y7t9smrskk] {
    padding: 12rem 0
}

@media only screen and (max-width: 56.25em) {
    .sec-pad[b-y7t9smrskk] {
        padding:8rem 0
    }
}

.main-container[b-y7t9smrskk] { 
    margin: auto;
    max-width: 60vw;
}
